<!DOCTYPE html>
<html>
<head>
	<title>TRMB | Home</title>
	<script type="text/javascript" src="../../libs/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="../../libs/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../libs/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../libs/css/sticky-footer-navbar.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
	<script type="text/javascript" src="../js/home.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">The Real Maze Bot</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="flase">
							Mazes
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/mazes/all">
									View All
								</a>
							</li>
							<li>
								<a href="/mazes/recent">
									View Most Recent
								</a>
							</li>
							<li>
								<a href="/mazes/random">
									View Random
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="jumbotron">
			<h1>The Real Maze Bot</h1>
			<h3>The twitter bot that tweets randomly generated mazed every hour, on the hour!</h3>
		</div>

		<div class="row marketing">
			<div class="col-lg-6">
				<div class="jumbotron">
					<h2>Inspiration</h2>
					<h4>This all started when I was researching APIs to play with. I figured the twitter Api would be a good place to start. This is an experiment I made just for fun. I hope you enjoy!</h4>
				</div>
				<div class="jumbotron">
					<h2>Help With Development</h2>
					<h4>If you would like to help with development of this bot, please checkout our <a target="_blank" href="https://github.com/wckaratekid/TheRealMazeBot">Github page</a>.</h4>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="jumbotron">
					<h2>See It Live</h2>
					<h4>If you want to be up to date with all the newest mazes, consider following <a target="_blank" href="https://twitter.com/TheRealMazeBot">@therealmazebot</a> on twitter.</h4>
				</div>
				<div class="jumbotron">
					<h2>Bugs And Suggestions</h2>
					<h4>If you happen to find a bug or have suggestions please create an issue <a target="_blank" href="https://github.com/wckaratekid/TheRealMazeBot/issues">here</a>.</h4>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">&copy; 2016 Rachelle Tanase</p>
		</div>
	</footer>
</body>
</html>